<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MotoShop.UI</title>

    <environment include="Development">
        <link href="~/lib/bulma-0.7.2/css/bulma.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment include="Production">
        <link href="~/lib/bulma-0.7.2/css/bulma.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="container" style="max-width: 1100px;">
            <div class="navbar-brand" style="padding: 0px 20px;">
                <p style="font-size: 35px; cursor: none">MotoShop</p>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                
                <div class="navbar-end" style="padding: 0px 20px;">
                    <a class="navbar-item" asp-page="/Index">
                        HOME
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" asp-page="/Admin/Index">
                            Admin
                        </a>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" asp-controller="Account" asp-action="Logout">Wyloguj się</a>
                    }

                    <vc:cart view="Small"></vc:cart>
                </div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content" style="width: 1000px; margin: auto; max-width: 100%;">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
          
            <p>MotoShop,  <a asp-page="/Admin/Index">Admin Login</a></p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
